@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Homemade+Apple&family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Homemade+Apple&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Danfo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
    }
    .animation-delay-5000 {
        animation-delay: 5s;
    }
}

.hyperlink {
    @apply cursor-pointer text-pink-300 hover:text-pink-200;
}

.autoVerticalScroll {
    animation: autoVerticalScrollAnimation linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes autoVerticalScrollAnimation {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.autoLeftHorizontalScroll {
    animation: autoLeftHorizontalScrollAnimation linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes autoLeftHorizontalScrollAnimation {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.autoRightHorizontalScroll {
    animation: autoRightHorizontalScrollAnimation linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

@keyframes autoRightHorizontalScrollAnimation {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.autoAppear {
    animation: autoAppearAnimation linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

@keyframes autoAppearAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
